<h1>Weeklyplaner</h1>

<h2>This Week (<%= @planer_this_week.id %>)</h2>
<li><%= link_to "Edit", edit_weeklyplaner_path(@planer_this_week) %></li>

<p>
  monday: <%= link_to @planer_this_week.monday_recipe.title, @planer_this_week.monday_recipe %></br>   
  tuesday:<%= link_to @planer_this_week.tuesday_recipe.title, @planer_this_week.tuesday_recipe%> </br>
  wednesday:<%= link_to @planer_this_week.wednesday_recipe.title, @planer_this_week.wednesday_recipe%> </br>
  thursday:<%= link_to @planer_this_week.thursday_recipe.title, @planer_this_week.thursday_recipe%> </br>
  friday:<%= link_to @planer_this_week.friday_recipe.title, @planer_this_week.friday_recipe%> </br>
  satureday:<%= link_to @planer_this_week.satureday_recipe.title, @planer_this_week.satureday_recipe%> </br>
  sunday:<%= link_to @planer_this_week.sunday_recipe.title, @planer_this_week.sunday_recipe%> </br>
  </p>

<h2>Next Week (<%= @planer_next_week.id %>)</h2>

  monday: <%= link_to @planer_next_week.monday_recipe.title, @planer_next_week.monday_recipe %></br>   
  tuesday:<%= link_to @planer_next_week.tuesday_recipe.title, @planer_next_week.tuesday_recipe%> </br>
  wednesday:<%= link_to @planer_next_week.wednesday_recipe.title, @planer_next_week.wednesday_recipe%> </br>
  thursday:<%= link_to @planer_next_week.thursday_recipe.title, @planer_next_week.thursday_recipe%> </br>
  friday:<%= link_to @planer_next_week.friday_recipe.title, @planer_next_week.friday_recipe%> </br>
  satureday:<%= link_to @planer_next_week.satureday_recipe.title, @planer_next_week.satureday_recipe%> </br>
  sunday:<%= link_to @planer_next_week.sunday_recipe.title, @planer_next_week.sunday_recipe%> </br>


  <p>
    <%= link_to "New Recipe", new_recipe_path %> <br>
<%= link_to "Ingredients", ingredients_path %>
    </p>

  
  <h1>Shoppinglist</h1>

<% if @shopping_items.any? %>
  <table>
    <thead>
      <tr>
        <th>Erledigt</th>
        <th>Artikel</th>
        <th>Menge</th>
        <th>Einheit</th>
        <th>Aktion</th>
      </tr>
    </thead>
    <tbody>
      <% @shopping_items.each do |item| %>
        <tr>
          <td>
            <%= form_with model: [item.weeklyplaner, item], local: true do |f| %>
              <%= f.check_box :done, { onchange: "this.form.submit();" } %>
              <%= f.number_field :total_menge, step: 0.1, onchange: "this.form.submit();" %>
            <% end %>
          </td>
          <td><%= item.name %></td>
          
          <td><%= item.einheit %></td>
          <td>
            <%= button_to 'Löschen', [item.weeklyplaner, item], method: :delete, data: { confirm: "Wirklich löschen?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No ingredients found.</p>
<% end %>

<h1> New Shoppinglistitem </h1>

<%= form_with model: [@planer_this_week, ShoppingItem.new] do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
  <%= form.label :einheit %>
  <%= form.text_field :einheit %>
  </div>

  <div>
  <%= form.label :total_menge %>
  <%= form.text_field :total_menge %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>



