<h1>Weeklyplaner</h1>

<h2>This Week (<%= @planer_this_week.id %>)</h2>
<li><%= link_to "Edit", edit_weeklyplaner_path(@planer_this_week) %></li>

<p>
  monday: <%= link_to @planer_this_week.monday_recipe.title, @planer_this_week.monday_recipe %></br>   
  tuesday:<%= link_to @planer_this_week.tuesday_recipe.title, @planer_this_week.tuesday_recipe%> </br>
  wednesday:<%= link_to @planer_this_week.wednesday_recipe.title, @planer_this_week.wednesday_recipe%> </br>
  thursday:<%= link_to @planer_this_week.thursday_recipe.title, @planer_this_week.thursday_recipe%> </br>
  friday:<%= link_to @planer_this_week.friday_recipe.title, @planer_this_week.friday_recipe%> </br>
  satureday:<%= link_to @planer_this_week.satureday_recipe.title, @planer_this_week.satureday_recipe%> </br>
  sunday:<%= link_to @planer_this_week.sunday_recipe.title, @planer_this_week.sunday_recipe%> </br>
  </p>

<h2>Next Week (<%= @planer_next_week.id %>)</h2>

  monday: <%= link_to @planer_next_week.monday_recipe.title, @planer_next_week.monday_recipe %></br>   
  tuesday:<%= link_to @planer_next_week.tuesday_recipe.title, @planer_next_week.tuesday_recipe%> </br>
  wednesday:<%= link_to @planer_next_week.wednesday_recipe.title, @planer_next_week.wednesday_recipe%> </br>
  thursday:<%= link_to @planer_next_week.thursday_recipe.title, @planer_next_week.thursday_recipe%> </br>
  friday:<%= link_to @planer_next_week.friday_recipe.title, @planer_next_week.friday_recipe%> </br>
  satureday:<%= link_to @planer_next_week.satureday_recipe.title, @planer_next_week.satureday_recipe%> </br>
  sunday:<%= link_to @planer_next_week.sunday_recipe.title, @planer_next_week.sunday_recipe%> </br>


  <p>
    <%= link_to "New Recipe", new_recipe_path %> <br>
<%= link_to "Ingredients", ingredients_path %>
    </p>

  
   <h1>Shoppinglist</h1>

<% if @ingredients.any? %>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><%= "#{ingredient.name}: #{ingredient.total_menge} #{ingredient.einheit}" %></li>
    <% end %>
  </ul>
<% else %>
  <p>Keine Einkaufsliste verfügbar</p>
<% end %>