<h1><%= @planer.title%></h1>

<p>
  monday: <%= @planer.monday_recipe.title%> </br> 
  tuesday:<%= @planer.tuesday_recipe.title%> </br>
  wednesday:<%= @planer.wednesday_recipe.title%> </br>
  thursday:<%= @planer.thursday_recipe.title%> </br>
  friday:<%= @planer.friday_recipe.title%> </br>
  satureday:<%= @planer.satureday_recipe.title%> </br>
  sunday:<%= @planer.sunday_recipe.title%> </br>
  </p>

  <p>
    <%= link_to "New Recipe", new_recipe_path %> <br>
<%= link_to "Ingredients", ingredients_path %>
    </p>
